.Content_Container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;

  position: relative;

  justify-content: space-around;
  align-items: center;

  height: 100%;
  width: 100%;

  .Card {
    display: flex;
    flex-direction: column;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid black;

    gap: 0px;
    padding: 0px;
    margin: auto;


    height: fit-content;
    width: fit-content;

    .Image_Container {
      display: flex;
      position: relative;

      border: 1px solid black;

      overflow: hidden;

      justify-content: center;
      align-items: center;

      height: 300px;
      width: 100%;

      .Image {
        height: 100%;
        width: 100%;

      }
    }

    .Information_Box {
      display: flex;
      flex-direction: column;

      background-color: rgb(15, 38, 61);
      border: 1px solid black;

      justify-content: space-evenly;
      align-items: flex-start;

      color: white;

      padding: 5px;
      gap: 10px;

      height: 100%;
      width: 100%;
    }
  }
}
