.Card {
  display: flex;
  flex-direction: column;

  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  position: relative;

  padding: 0px;
  gap: 0px;
  overflow: hidden;

  height: 250px;
  width: 350px;

  transition: 0.3s;

  .Preview_Container {
    height: 100%;
    width: 100%;

    display: flex;

    position: absolute;
    top: 0;
    left: 0;

    .Title {
      display: flex;

      justify-content: center;
      align-items: center;

      position: absolute;
      bottom: 10px;
      left: 10px;

      font-size: 18px;
      font-weight: 300;
    }

    .Preview {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: 0.5s;
    }
  }

  .Description_Container {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    position: absolute;

    z-index: 3;
    transition: 0.6s;
    transform: translateY(100vh);

    .Description {
      font-size: 14px;
      font-weight: 100;
      text-align: center;
    }
  }
}
.Card:hover {
  transform: translateY(-5px);
  .Preview_Container {
    .Preview {
      transform: scale(1.1);
      backdrop-filter: 5px;
    }
  }
  .Description_Container {
    transform: translateY(0%);
  }
}

@media only screen and (max-width: 350px) {
  .Card {
    width: 100%;
  }
}
