.Card {
  display: flex;
  flex-direction: column;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  position: relative;

  padding: 0px;
  gap: 0px;
  overflow: hidden;

  height: 450px;
  width: 650px;

  transition: 0.3s;

  .Image, .Video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.Card:hover {
  transform: translateY(-5px);
  .Preview_Container {
    .Preview {
      transform: scale(1.1);
      backdrop-filter: 5px;
    }
  }
  .Description_Container {
    transform: translateY(0%);
  }
}

@media only screen and (max-width: 650px) {
  .Card {
    width: 95%;
  }
}

@media only screen and (max-width: 480px) {
  .Card {
    height: 300px;
  }
}
